@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

body {
    font-family: 'Montserrat';font-size: 22px;
}

.ts-button{
    background-color: #e64541;
    color: white;
    text-shadow: none;
}

.ts-button:hover{
    background-color: #CD3E3A;
    color: white;
}