<!-- <div clas="container" id="recipeSearch">
        <div class="row justify-content-md-center">
          <div class="col-sm-6">
            <div id="searchHeaders">
              <h2 class="display-4">
                Search Recipes
              </h2>
              <p>Enter ingredients to find recipes.</p>
            </div>
            <small class="text-muted">Separate each ingredient with a comma.</small>
          </div>
        </div>
      
        <div class="row justify-content-md-center">
          <div class="col-sm-6">
            <div class="input-group mb-3">
              <input type="text" class="form-control" id="searchQuery" placeholder="Your Ingredients" aria-label="Recipient's username"
                aria-describedby="button-addon2">
              <div class="input-group-append">
                <button class="btn ts-button" type="button" id="searchButton" (click)="searchForRecipe()">Search For Recipes</button>
              </div>
            </div>
          </div>
          <div *ngIf="!resultList.hits && searchExecuted" class="container">NO RESULTS FOUND</div>
          <ul id="recipeList" *ngFor="let recipe of recipes">
            <ul *ngFor="let hits of recipe.hits">
              <br>
              <img [src]=hits.recipe.image />
              <li>
                <h2>{{ hits.recipe.label }}</h2>
              </li>
              <li>
                <h3><a target="blank" [href]=hits.recipe.url>Recipe Instructions</a></h3>
              </li>
              <li>
                <h3>Ingredients:</h3>
              </li>
              <ul *ngFor="let ingredient of hits.recipe.ingredientLines">
                <li>{{ ingredient }}</li>
              </ul>
              <br>
            </ul>
          </ul>
        </div>
        </div> -->
<div class="container">
<div class="row">
    <div class="col-sm">
        <h2>My Fridge</h2>
        <table id="fridge-table" mat-table [dataSource]="fridgeSource" class="mat-elevation-z8">

            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggleFridge() : null" [checked]="fridgeSelection.hasValue() && isAllSelectedInFridge()"
                        [indeterminate]="fridgeSelection.hasValue() && !isAllSelectedInFridge()">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? fridgeSelection.toggle(row) : null"
                        [checked]="fridgeSelection.isSelected(row)">
                    </mat-checkbox>
                </td>
            </ng-container>

            <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
            </ng-container>

            <ng-container matColumnDef="unit">
                <th mat-header-cell *matHeaderCellDef> Unit </th>
                <td mat-cell *matCellDef="let element"> {{element.unit}} </td>
            </ng-container>

            <ng-container matColumnDef="ingredient">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.ingredient}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="fridgeSelection.toggle(row)"></tr>
        </table>
    </div>
    </div>
    </div>