<div clas="container" id="recipeSearch">
  <div class="row justify-content-md-center">
    <div class="col-sm-6">
      <div id="searchHeaders">
        <h2 class="display-4">
          Search Recipes
        </h2>
        <p>Enter ingredients to find recipes.</p>
      </div>
      <small class="text-muted">Separate each ingredient with a comma.</small>
    </div>
  </div>

  <div class="row justify-content-md-center">
    <div class="col-sm-6">
      <div class="input-group mb-3">
        <input type="text" class="form-control" id="searchQuery" placeholder="Your Ingredients" aria-label="Recipient's username"
          aria-describedby="button-addon2">
        <div class="input-group-append">
          <button class="btn ts-button" type="button" id="searchButton" (click)="searchForRecipe()">Search For Recipes</button>
        </div>
      </div>
    </div>
    <div *ngIf="!resultList.hits && searchExecuted" class="container">NO RESULTS FOUND</div>
    <ul id="recipeList" *ngFor="let recipe of recipes">
      <ul *ngFor="let hits of recipe.hits">
        <br>
        <img [src]=hits.recipe.image />
        <li>
          <h2>{{ hits.recipe.label }}</h2>
        </li>
        <li>
          <h3><a target="blank" [href]=hits.recipe.url>Recipe Instructions</a></h3>
        </li>
        <li>
          <h3>Ingredients:</h3>
        </li>
        <ul *ngFor="let ingredient of hits.recipe.ingredientLines">
          <li>{{ ingredient }}</li>
        </ul>
        <br>
      </ul>
    </ul>
  </div>
  </div>