<div class="container">
  <div class="row">
    <div class="col-10">
      <h1 class="display-4" style="text-align:left">What Can You Make?</h1>
    </div>
  </div>
  <br>
  <div class="row">
      <div class="col-7">
        <p>How many times have you stared into your pantry and thought, "What am I gonna make for dinner
          tonight?" At TopShelf, we want to help with that. Simply create an account, tell us what ingredients
          you have in your pantry, and we'll give you a list of great recipes that you can make with what you 
          already have. Also, once you've created an account, you can add new recipes, keep track of your
          current ingredients, and even make a shopping list of what ingredients you might need to make a
          certain recipe. So instead of spending another afternoon staring into your pantry, let us help
          you see what you can make with what you already have.
        </p>
      </div>
      <div class="col-4">
        <img src= "..\assets\img\katie-smith-104748-unsplash.jpg" style="width: 400px;height: 400px;"/>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
          <a href="#" class="btn btn-lg ts-button" routerLink="/register">See What You Can Do</a>
      </div>
    </div>
</div>