<!-- Special thanks to Start Boostrap for this template: https://startbootstrap.com/template-overviews/heroic-features/ -->

<!-- Page Content -->
<div class="container">

  <!-- Jumbotron Header -->
  <header class="jumbotron my-4" id="featuredRecipe" >
    <h1 class="display-3">{{recipe.hits[0].recipe.label}}</h1>
    <p class="lead">Craving a big meal while watching the game? This one may be easier than you think.</p>
    <a  class="btn btn-lg ts-button" (click)= "viewRecipe(recipe.hits.recipe.label, recipe.hits.recipe.url, recipe.hits.recipe.image, recipe.hits.recipe.ingredientLines)">Show Recipe</a>
  </header>


  <!-- Page Features -->
  <div class="row text-center">

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <img class="card-img-top" src="http://placehold.it/500x325" alt="">
        <div class="card-body">
          <h4 class="card-title"><b>What Can You Make?</b></h4>
          <p class="card-text">Find out what you can make with the ingredients you already have.</p>
        </div>
        <div class="card-footer">
          <a routerLink="/possible-recipes" class="btn ts-button">Find Out</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <img class="card-img-top" src="http://placehold.it/500x325" alt="">
        <div class="card-body">
          <h4 class="card-title"><b>Your Recipes</b></h4>
          <p class="card-text">View all the recipes you've made.</p>
        </div>
        <div class="card-footer">
          <a routerLink="/chef-recipes" class="btn ts-button">View Recipes</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <img class="card-img-top" src="http://placehold.it/500x325" alt="">
        <div class="card-body">
          <h4 class="card-title"><b>Your Checklist</b></h4>
          <p class="card-text">Manage your current list of ingredients and your shopping list.</p>
        </div>
        <div class="card-footer">
          <a routerLink="/checklist" class="btn ts-button">View Checklist</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card">
          <img class="card-img-top" src="http://placehold.it/500x325" alt="">
          <div class="card-body">
            <h4 class="card-title"><b>Search Recipes</b></h4>
            <p class="card-text">Search through the database of recipes.</p>
          </div>
          <div class="card-footer">
            <a routerLink="/view-recipes" class="btn ts-button">Search</a>
          </div>
        </div>
      </div>

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->