<div class="container">
  <br>
  <h2>Upload Recipe</h2>
  <p>Please fill in this form to upload your own Recipe.</p>
  <hr />

  <form>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputFirstName">First Name</label>
        <input type="text" class="form-control" id="inputFirstName" placeholder="First Name" [(ngModel)]="user.firstname" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="form-group col-md-4">
        <label for="inputLastName">Last Name</label>
        <input type="text" class="form-control" id="inputLastName" placeholder="Last Name" [(ngModel)]="user.lastname" [ngModelOptions]="{standalone: true}">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputEmail">Email Address</label>
        <input type="email" class="form-control" id="inputEmail" placeholder="Email" [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputUsername">Username</label>
        <input type="text" class="form-control" id="inputUsername" placeholder="Username" [(ngModel)]="user.username" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="form-group col-md-4">
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control" id="inputPassword" placeholder="Password" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}">
      </div>
    </div>
    <button type="submit" class="btn ts-button" (click)="register()">Register</button>
  </form>
</div>
